#Orçamento .image-container {
  display: none;
}

#Orçamento {
  background-color: 'theme.palette.primary.main';
  background-image: url('../../public/images/paralaxBg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}
